.panelContainer {
    margin: 20px auto;
    width: 96%;
    border-radius: 10px;
    background-color: rgba(250, 250, 250, 0.9);
    box-shadow: 0 0 10px 5px #EFEFEF;
    
    .content {
        width: 100%;
        height: 1000px;
        
    }
}